*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-btn: hsl(23, 94%, 52%);
    --clr-text: hsl(120, 29%, 94%);
    --clr-bg: hsla(0 0% 18% / 90%);
}

body,
html {
    font-family: 'Balsamiq Sans', serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: var(--clr-text);
}

.hex-color {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 700;
}

.container {
    width: 100vw;
    padding: 6em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-bg);
}

.container p {
    margin-bottom: 2em;
}

.color-btn {
    padding: 0.8em 1em;
    text-transform: uppercase;
    border: 4px solid var(--clr-btn);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--clr-btn);
    cursor: pointer;
    background-color: transparent;
    text-shadow: 0 0 0.125em hsl(0, 0%, 100% /0.2), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 currentColor, 0 0.1em 0.5em 0 currentColor;
    transition: all 300ms ease-in-out;
    position: relative;
}

.color-btn::before {
    content: '';
    background-color: var(--clr-btn);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2.8em;
    right: 0;
    transform: perspective(2em) rotateX(40deg) scale(1, 0.7);
    filter: blur(1em);
}

.color-btn:hover {
    transform: translateY(-2px);
}

.color-btn:active {
    transform: scale(1.2);
}
